@charset "utf-8";
/* CSS Document */

div#tmpSlideshow {
	margin:6px 0 0 5px;
    position: relative;
    height: 195px;
    width: 228px;
    border: 0px solid rgb(200, 200, 200);
}
div.tmpSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 228px;
    height: 196px;
    display: none;
}
div.tmpSlide img {
    float: left;

    width: 228px;
    border: 0px;
}
div#tmpSlideshowControls {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 175px;
}
div.tmpSlideshowControl {
    border: none;
    float: left;
    margin: 0 2px 0 0;
    background: url('../images/slideshow-circles.png') top no-repeat;
    width: 18px;
    height: 15px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}
div.tmpSlideshowControl span {
    line-height: 14px;
    vertical-align: middle;
	font-weight:bold;
	text-align:center;
	width:18px;
}
div.tmpSlideshowControlOn {
    background: url('../images/slideshow-circles.png') center no-repeat;
}
div.tmpSlideshowControlActive {
    background: url('../images/slideshow-circles.png') bottom no-repeat;
}
div.tmpSlideCopy {
    position: absolute;
    left: 565px;
    top: 20px;
    width: 170px;
}
div#tmpSlideshow h4 {
    color: #b90f23;
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    margin: 10px 0;
}
div.tmpSlideCopy p {
    font: 11px Arial, sans-serif;
    line-height: 1.75em;
}
