<ifmodule mod_expires.c>
  <filesmatch "\.(jpg|gif|png|css|js)$">
    ExpiresActive on
    ExpiresDefault "access plus 1 year"
    Header set Cache-Control "max-age=31536000"
  </filesmatch>
  AddOutputFilterByType DEFLATE text/html text/css application/javascript
  FileETag none
</ifmodule>
