@charset "utf-8";
/* CSS Document */

.top10thumbs span {
	display:block;
	height:40px;
	width:40px;
	background:url(../../sprites/Top-5-Thumbs.jpg) 0px 0px;;
	float:left;
	margin: 0 4px 4px 0;
	}
	
.top10thumbs li {
	clear:both;
	margin-bottom:4px;
}
.top10thumbs span:hover {
		filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;

}

span.t1 {

}
span.t2 {
	background-position: -40px;
}
span.t3 {
	background-position: -80px;
}
span.t4 {
	background-position: -120px;
}
span.t5 {
	background-position: -160px;
}
span.t6 {
	background-position: -200px;
}
span.t7 {
	background-position: -240px;
}
span.t8 {
	background-position: -280px;
}
span.t9 {
	background-position: -320px;
}
span.t10 {
	background-position: -360px;
}